.App {
  text-align: center;
  padding: 20px;
}
.beercontainer{
  display: grid;
  grid-template-columns: repeat(3 ,1fr);
}
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  display: inline-block;
  text-align: left;
}

/* .card img {
  max-width: 100%;
  max-height: 150px;
} */
